.navbar {
  width: 100%;
  background: #222;
  color: #fff;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
}

.nav-links a {
  color: #61dafb;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.logout-btn:hover {
  text-decoration: underline;
}

